/*@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1080)";*/
/*@blue:#29c5e6;*/
.contacts textarea {
  resize: vertical;
}
.map {
  height: 200px;
  background: #eee;
}
/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/
body {
  margin: 0;
}
/*.lcw() {
  max-width:1080px;
  margin: 0 auto;
}*/
.page-header {
  border: none;
}
.page-logo img {
  display: block;
  margin: 0 auto;
}
.page-heading {
  text-align: center;
}
.page-info {
  text-align: right;
  height: 161px;
}
.page-nav {
  margin-bottom: 40px;
  background: #f9f7f9;
}
.page-nav__wrapper .navbar {
  border: none;
  margin: 0;
}
.main {
  margin: 40px 0;
}
.main__right {
  border-left: 2px solid #eee;
}
.news__item {
  margin-bottom: 10px;
}
.news__date {
  position: relative;
}
.news__date::before {
  content: '-';
  position: absolute;
  left: -10px;
}
.galery__item {
  display: inline-block;
  padding: 20px;
}
.galery__img {
  width: 100%;
  min-height: 150px;
  background: #eee;
  border: 10px solid rgba(255, 215, 12, 0.5);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.galery__header {
  text-align: center;
  background: #b5ced4;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 0;
}
.page-footer {
  margin-top: 40px;
  background: #eee;
  padding: 10px 0;
}
.info__item {
  margin-right: 10px;
}
.info__item:not(:last-child)::after {
  content: '·';
  position: relative;
  margin-left: 10px;
}
