/*.lcw() {
  max-width:1080px;
  margin: 0 auto;
}*/
/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/
.about__wrapper {
  margin-top: 80px;
}
.about__heading {
  margin: 20px 30px 40px;
  border-bottom: 1px solid #ddd;
}
.about__note {
  margin: 0 30px;
  margin-bottom: 50px;
  background: rgba(48, 113, 194, 0.9);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 25px 5px rgba(0, 0, 0, 0.25);
}
.about__note h2 {
  margin: 0;
  margin-bottom: 10px;
}
.about__note p {
  font-style: italic;
  line-height: 20px;
}
.about__item {
  margin: 0 30px 30px;
  padding-bottom: 40px;
  padding: 0;
  border: 0;
}
.about__item:not(:last-of-type) {
  border-bottom: 10px;
  border-image: url(../img/hr.gif) 10;
}
.about__item h3 {
  margin: 0;
  margin-bottom: 20px;
}
.about__item figure {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.about__item figure img {
  width: 100%;
  transition: all .3s;
  cursor: url('../img/intense/plus_cursor.png') 25 25, auto;
}
.about__item figure figcaption {
  position: absolute;
  pointer-events: none;
  top: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all .3s;
  width: 100%;
  color: #fff;
  padding: 5px 20px 10px;
}
.about__item figure figcaption h4 {
  padding: 5px 0;
  margin: 10px 0 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
.about__item figure figcaption h4::before {
  content: '';
  display: block;
  height: 5px;
  width: 40px;
  background: #3071c2;
  position: absolute;
  left: 0;
  bottom: 100%;
}
.about__item figure figcaption p {
  padding: 0;
  margin: 0;
}
.about__item figure:hover img {
  transform: scale(1.1);
}
.about__item figure:hover figcaption {
  top: 0;
  bottom: 0;
}
.contacts {
  margin-bottom: 20px;
}
.contacts textarea {
  resize: none;
}
.contacts__wrapper {
  margin-top: 80px;
}
.contacts__heading {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contacts__heading h1 {
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.contacts__form {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 20px 10px;
  background: url(../img/bg-1.png);
}
.contacts__form__submit {
  background: #3071c2;
}
.map {
  height: 400px;
  border: 1px solid #ddd;
}
.production__wrapper {
  background: url(../img/prod-bg.jpg) no-repeat 50% 100%;
  background-size: cover;
}
.production__heading {
  position: relative;
  padding-top: 60px;
  margin-bottom: 40px;
}
.production__heading::before {
  content: '';
  display: block;
  height: 1px;
  width: 80px;
  background: #000;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -40px;
}
.production__heading h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}
.production__heading p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}
.production__container {
  margin-bottom: 20px;
}
.production__item {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.production__item img {
  transition: all .3s;
}
.production__item:hover .production__mask {
  transform: translateY(0);
}
.production__item:hover img {
  transform: scale(1.1);
}
.production__inner {
  width: 310px;
  margin: 0 auto;
  overflow: hidden;
}
.production__mask {
  position: absolute;
  color: #fff;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transform: translateY(200px);
  transition: all .3s;
  padding: 0;
  z-index: 1;
}
.production__mask h3 {
  width: 310px;
  padding: 15px 0 30px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.production__mask h3::before {
  content: '';
  display: block;
  height: 1px;
  width: 80px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -40px;
}
.production__mask p {
  width: 310px;
  padding: 0 30px;
  text-align: justify;
}
.slider {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}
.slider__slide {
  background: no-repeat center;
  background-size: cover;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);
}
.slider__slide:nth-of-type(1) {
  background-image: url(../img/slider/1.jpg);
}
.slider__slide:nth-of-type(2) {
  background-image: url(../img/slider/2.jpg);
}
.slider__slide:nth-of-type(3) {
  background-image: url(../img/slider/3.jpg);
}
.slider__wrapper {
  position: relative;
}
.slider__header {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.33);
  padding: 5px 10px;
  margin-bottom: 0;
  letter-spacing: 2px;
}
@media (max-width: 640px) {
  .slider__header {
    font-size: 30px;
  }
}
.slider__note {
  font-size: 25px;
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.33);
  padding: 5px 10px;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .slider__note {
    font-size: 18px;
  }
}
.slider__link {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  padding: 5px 25px;
  border: 1px solid #fff;
  background: rgba(48, 113, 194, 0.8);
  transition: all .3s;
  margin-bottom: 40px;
}
.slider__link:hover {
  color: #fff;
  text-decoration: none;
  background: #3071c2;
}
.slider__link:focus {
  color: #fff;
  text-decoration: none;
  background: #3071c2;
}
.slider__text {
  font-size: 20px;
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.33);
  padding: 5px 10px;
  line-height: 30px;
}
@media (max-width: 640px) {
  .slider__text {
    display: none;
  }
}
.slider .fp-slidesNav.bottom {
  bottom: 215px;
}
@media (max-width: 640px) {
  .slider .fp-slidesNav.bottom {
    bottom: 17px;
  }
}
.page-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-bottom: 1px solid #c8cbd1;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.page-nav__wrapper {
  padding: 15px 0;
}
.page-nav__wrapper .navbar {
  border-radius: 0;
  border: none;
  margin: 0;
}
.page-nav .navbar-nav {
  margin-right: 50px;
}
.page-nav .navbar-brand {
  width: 70px;
  background: url(../img/page-logo.png) no-repeat center;
  background-size: contain;
  margin: 0 45px 0 15px;
}
.page-nav .navbar-toggle {
  border-radius: 0;
  background: #3071c2;
}
.page-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}
.page-nav .dropdown-menu {
  border: 1px solid #c8cbd1;
  border-top: none;
  border-radius: 0;
  margin-top: 15px !important;
  margin-left: 15px !important;
  background: #fff;
  padding: 0;
  left: 15px;
}
.page-nav .dropdown-menu li a {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  transition: all .3s;
}
.page-nav .dropdown-menu li a:hover {
  background: #3071c2;
  color: #fff;
}
.page-nav__link {
  color: #000;
  font-weight: bold;
  padding: 15px 0 !important;
  margin: 0 30px;
  background: none !important;
  transition: all .3s;
}
.page-nav__link:hover {
  color: #3071c2;
  box-shadow: 0 5px 0 0 #3071c2;
  background: none !important;
}
.partners__heading {
  margin-bottom: 30px;
}
.partners__heading h2 {
  text-align: center;
}
.partners__item {
  margin: 0 5px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.partners__item img {
  width: 100%;
}
.partners__item:hover .partners__mask {
  top: 0;
}
.partners__mask {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all .3s;
}
.partners__mask h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  font-size: 15px;
  transform: scale(1, 1.2);
}
.catalog__wrapper {
  margin-top: 80px;
}
.product .text-more {
  display: block;
}
.product img {
  width: 100%;
}
.product .nav-tabs li {
  background: #fff;
}
@media (max-width: 640px) {
  .product .nav-tabs li {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .product .nav-tabs a::before {
    display: none !important;
  }
}
.product__wrapper {
  margin-top: 80px;
  min-height: 100vh;
}
.product__container {
  border: 1px solid #ddd;
  padding: 10px;
}
.product__heading {
  margin-bottom: 20px;
}
.product__heading h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-size: contain;
}
.product__heading img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.product__heading ul {
  list-style: none;
  margin-bottom: 5px;
}
.product__heading ul li {
  position: relative;
}
.product__heading ul li::before {
  content: '';
  display: block;
  width: 8px;
  height: 2px;
  background: #3071c2;
  position: absolute;
  left: -15px;
  top: 50%;
}
.product__inner {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
}
.product__inner .nav-tabs {
  margin-bottom: 20px;
}
.product__inner h2 {
  margin-top: 0;
}
.product__inner img {
  width: 100%;
}
.product__inner table {
  margin: 10px 0;
  width: 100%;
  background: #fff;
  vertical-align: middle;
}
.product__inner table th,
.product__inner table td {
  padding: 5px;
}
.product__inner table th {
  border: 2px solid #aaa !important;
  background: #505558;
  color: #ffc01c;
  text-align: center;
}
.product__inner table td {
  width: 12.5%;
  border: 1px solid #ddd;
}
.product__img {
  margin-bottom: 20px;
}
.page-footer {
  width: 100%;
  position: relative;
  bottom: 0;
}
.info {
  padding: 15px 0;
  background: #000;
}
.info__item {
  margin-right: 10px;
}
.info__item:not(:last-of-type)::after {
  content: '|';
  position: relative;
  margin-left: 10px;
  color: rgba(127, 127, 127, 0.8);
}
.info__item a {
  color: rgba(127, 127, 127, 0.8);
  transition: all .3s;
}
.info__item:hover a {
  color: #7f7f7f;
}
.copy {
  background: #e7e5e7;
  padding: 30px 0px 15px;
}
.copy__item {
  margin-right: 10px;
}
.copy__item:not(:last-of-type)::after {
  content: '|';
  position: relative;
  margin-left: 10px;
  color: rgba(127, 127, 127, 0.8);
}
.copy__item a {
  color: rgba(34, 34, 34, 0.8);
  transition: all .3s;
}
.copy__item:hover a {
  color: #7f7f7f;
}
.copy__text {
  margin-top: 20px;
}
*::selection {
  background: #000;
  color: #fff;
}
body {
  margin: 0;
  background: url(../img/bg-2.png);
  position: relative;
  font-family: 'Droid Sans', sans-serif;
}
input {
  font-family: 'Droid Sans', sans-serif;
}
.container-fluid {
  padding: 0;
}
.scrollup {
  float: right;
  width: 40px;
  height: 20px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  margin-left: 50px;
}
.scrollup::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-left: 5px solid rgba(127, 127, 127, 0.8);
  border-top: 5px solid rgba(127, 127, 127, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -5px;
  transform: rotate(45deg);
  transition: all .3s;
}
.scrollup:hover::before {
  border-color: #7f7f7f;
}
.footnote {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transform: translateY(60px);
  transition: all .3s;
  z-index: 1000;
}
.footnote:hover {
  transform: translateY(0);
}
.footnote:hover .footnote__item {
  text-decoration: none;
  color: #fff;
}
.footnote:hover .footnote__item p {
  visibility: visible;
}
.footnote__wrapper {
  width: 600px;
  margin: 0 auto;
}
.footnote__item {
  display: inline-block;
  text-align: center;
  width: 145px;
  color: #fff;
  padding: 30px 0 10px;
}
.footnote__item h4 {
  font-size: 14px;
}
.footnote__item p {
  padding: 0 10px;
  visibility: hidden;
  font-size: 12px;
  line-height: 16px;
}
@media (max-width: 640px) {
  .footnote {
    display: none;
  }
}
.page-header {
  border: none;
}
.page-logo img {
  display: block;
  margin: 0 auto;
}
.page-heading {
  text-align: center;
}
.page-info {
  text-align: right;
  height: 161px;
}
.index__right {
  border-left: 2px solid #eee;
}
.news__item {
  margin-bottom: 10px;
}
.news__date {
  position: relative;
}
.news__date::before {
  content: '-';
  position: absolute;
  left: -10px;
}
.galery__item {
  display: inline-block;
  padding: 20px;
}
.galery__img {
  width: 100%;
  min-height: 150px;
  background: #eee;
  border: 10px solid rgba(255, 215, 12, 0.5);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.galery__header {
  text-align: center;
  background: #000;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 0;
}
