.about {
    &__wrapper {
        margin-top: 80px;
    }
    &__heading {
        margin-top: 20px;
    }
    &__note {
        margin-bottom: 50px;
        background: @blue;
        color: #fff;
        padding: 20px;
        font-style: italic;
        border-radius: 5px;
        box-shadow: inset 0 0 25px 5px rgba(0, 0, 0, 0.25);
        h2 {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    &__item {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border: 0;
        &:not(:last-of-type) {            
            border-bottom: 10px;
            border-image: url(../img/hr.gif) 10;
        }
        h3 {
            margin: 0;
            margin-bottom: 20px;
        }
        figure { 
            margin-bottom: 25px;
            position: relative;
            img {                           
                width: 100%;
            }
            figcaption {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                color: #fff;
                padding: 5px 20px 10px;
                h4 {
                    padding: 5px 0;
                    margin: 10px 0 5px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        height: 5px;
                        width: 40px;
                        background: @blue;
                        position: absolute;
                        left: 0;
                        bottom: 100%;
                    }
                }
                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}