.about {
    &__wrapper {
        margin-top: 80px;
    }
    &__heading {
        margin: 20px 30px 40px;
        border-bottom: 1px solid #ddd;
    }
    &__note {
        margin: 0 30px;
        margin-bottom: 50px;
        background: rgba(48, 113, 194, 0.9);
        color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: inset 0 0 25px 5px rgba(0, 0, 0, 0.25);
        h2 {
            margin: 0;
            margin-bottom: 10px;
        }
        p {            
            font-style: italic;
            line-height: 20px;
        }
    }
    &__item {
        margin: 0 30px 30px;
        padding-bottom: 40px;
        padding: 0;
        border: 0;
        &:not(:last-of-type) {            
            border-bottom: 10px;
            border-image: url(../img/hr.gif) 10;
        }
        h3 {
            margin: 0;
            margin-bottom: 20px;
        }
        figure { 
            margin-bottom: 25px;
            position: relative;
            overflow: hidden;
            img {                           
                width: 100%;
                transition: all .3s;
            }
            figcaption {
                position: absolute;
                pointer-events: none;
                top:100%;
                background: rgba(0, 0, 0, 0.5);              
                transition: all .3s;
                width: 100%;
                color: #fff;
                padding: 5px 20px 10px;
                h4 {
                    padding: 5px 0;
                    margin: 10px 0 5px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        height: 5px;
                        width: 40px;
                        background: @blue;
                        position: absolute;
                        left: 0;
                        bottom: 100%;
                    }
                }
                p {
                    padding: 0;
                    margin: 0;
                }
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                figcaption {
                    top:0;
                    bottom: 0;
                }
            }
        }
    }
}