.contacts {
    margin-bottom: 20px;
    textarea {
        resize: vertical;
    } 
    &__wrapper {
        margin-top: 80px;
    }
    &__heading {
        margin-top: 20px;
        margin-bottom: 20px;
        h1 {
            margin-bottom: 40px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }
    }
    &__form {
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #eee;
        padding: 20px 10px;
        background: url(../img/bg-1.png);
        &__submit {
            background: @blue;
        }
    }
}
.map {
    height: 400px;
    border: 1px solid #ddd;
}