.contacts {
    margin-bottom: 40px;
    textarea {
        resize: none;
    }    
    &__wrapper {
        margin-top: 40px;
    }
    &__heading {
        margin-bottom: 20px;
        h1 {
            margin-bottom: 20px;
        }
    }
    &__form {
        margin-bottom: 20px;
    }
}
.map {
    height: 500px;
}