.page-footer {
    width: 100%;
    position: relative;
    bottom: 0;
}
.info {        
    background: #23282d;
	
	&__wrapper {
		position: relative;		
		padding: 15px;
	}
    &__item {
        margin-right: 10px;
        &:not(:last-of-type) {
            &::after {
                content: '|';
                position: relative;
                margin-left: 10px;
                color: rgba(127, 127, 127, 0.8);
            }
        }
        a {                
            color: #ded;
            transition: all .3s;
        }
        &:hover {
            a {                
                color: lighten(@blue, 15%);
            }    
        }
		@media @mobile {
			display: inline-block;
			margin-right: 0;
			padding: 8px 0;
			font-size: 18px;
			width: 40%;
			&::after {
				display: none;
			}
		}
    }
}
.copy {
    background: #e7e5e7;
    padding: 15px 0;
	&__item {
		font-size: 14px;
		padding-left: 30px;
		background: no-repeat 0 50%;
		background-size: contain;
		&--phone {
			background-image: url(../img/phone-bg.png);
		}
		&--email {
			background-image: url(../img/email-bg.png);
			display: inline-block;
		}		
		&--copy {
			text-align: right; 
			font-size: 12px;
			padding-left: 0;
			@media @mobile {
				text-align: left;
			}
		}
		@media @mobile {
			margin-bottom: 15px;
		}
	}    
}