.page-footer {
    width: 100%;
    position: relative;
    bottom: 0;
}
.info {        
    background: #191717 url(../img/bg-3.png);
	
	&__wrapper {
		position: relative;		
		padding: 15px 30px;
	}
    &__item {
        margin-right: 10px;
        &:not(:last-of-type) {
            &::after {
                content: '|';
                position: relative;
                margin-left: 10px;
                color: rgba(127, 127, 127, 0.8);
            }
        }
        a {                
            color: rgba(157, 155, 155, 0.8);
            transition: all .3s;
        }
        &:hover {
            a {                
                color: rgba(127, 127, 127, 1);
            }    
        }
		@media @mobile {
			display: block;
			text-align: center;
			margin-right: 0;
			padding: 2px 0;
			font-size: 22px;
			&::after {
				display: none;
			}
		}
    }
}
.copy {
    background: #e7e5e7;
    padding: 15px 0;
	&__item {
		font-size: 15px;
		&--text {
    	text-align: right; 
			@media @mobile {
				text-align: center;
			}
		}
		@media @mobile {
			text-align: center;
			font-size: 20px;
			margin-bottom: 15px;
		}
	}    
}