.product {
    &__wrapper {
        margin-top: 80px;
        min-height: 1000px;
    }
    &__heading {
        margin-bottom: 20px;
        h1 {
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 20px;
            background: url(../img/1/heading-bg.gif) no-repeat 100%;
            background-size: contain;
        }
    }
    &__inner {
        margin-top: 20px;
        border: 1px solid #ddd;
        padding: 20px;
        h2 {
            margin-top: 0;
        }
        ul {
            list-style: none;
            margin-bottom: 0;
            li {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 2px;
                    background: @blue;
                    position: absolute;
                    left: -15px;
                    top: 50%;
                }
            }
        }
        table {
            border-top: 2px solid @blue;
            th {
                text-align: center;
                border-bottom: 2px solid #aaa !important;
            }
            td {
                text-align: center;
            }
        }
    }
    &__img {
        margin-bottom: 20px;
    }
}