/*@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1080)";*/

/*@blue:#29c5e6;*/

/*@import "header.less";*/

/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/

body {
  margin: 0;
}

/*.lcw() {
  max-width:1080px;
  margin: 0 auto;
}*/

.page-header {
    border: none;
}
.page-logo {
    img {
        display: block;
        margin: 0 auto;
    }
}


.page-heading {
    text-align: center;
}

.page-info {
    text-align: right;
    height: 161px;
}

.page-nav {
    background: #a09f9f;
    &__list {
        padding: 4px 0;
        list-style: none;  
        display: inline-block;        
        margin: 0;
        /*&:not(:last-child) {
            margin-bottom: 4px;
        }*/
    }
    &__item {
        display: inline-block;
    }
    &__link {
        padding: 20px;
        display: inline-block;
        background: #eee;
    }
    &__wrapper {
        .navbar {
            background: none;
            border: none;
            &-toggle {
                border-color: #ffd70c;
                .icon-bar {
                    background: #ffd70c;
                }
            }
            &-inverse {
                .navbar-collapse {
                    border: none;
                }
                .navbar-brand {
                    color: #fff;
                }
                .navbar-nav>li.active>a {
                    color: #ffd70c;
                }
                .navbar-nav>li>a {
                    color: #fff;
                }
                .navbar-nav>.active>a {
                    background: none;
                }
            }
        }
    }
}

.main {
    margin: 40px 0;
    &__right {
        border-left: 2px solid #eee;
    }
}
.news {
    &__item {
        margin-bottom: 10px;
    }
    &__date {
        position: relative;
        &::before {
            content: '-';
            position: absolute;
            left: -10px;
        }
    }
}

.galery {
    &__item {
        display: inline-block;
        padding: 20px;
    }
    &__img {
        width: 100%;
        min-height: 150px;
        background: #eee;
        border: 10px solid rgba(255, 215, 12, 0.5);
        box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
    }
    &__header {
        text-align: center;
        background: #b5ced4;
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 5px 0;
    }
}

.page-footer {
    background: #eee;
    padding: 10px 0;
}

.info {
    &__item {
        margin-right: 10px;
        &:not(:last-child) {
            &::after {
                content: '·';
                position: relative;
                margin-left: 10px;
            }
        }
    }
}